{% extends "base.html" %}
{% block content %}
    <a href="main/manage" xmlns="http://www.w3.org/1999/html">Manage your GPG Keyring</a>
    <br />
    <a href="main/managef">Upload your files</a>
    <br/> <br/>
    <table>
    <tr>
        <td>
            File name
        </td>
        <th colspan=3>
            Action
        </td>
    </tr>
    <tr>
        <td>
            Pliczekfiles
        </td>
        <td>
            Deletefiles
        </td>
        <td>
            Decrypt
        </td>
        <td>
            Rename
        </td>
    </tr>
    </table>
    <br />
    <br/>
    <br/>
    <a href="main/logout/">Logout</a>
{% endblock %}