{% extends "base.html" %}
{% block content %}
    <a href="main/manage" xmlns="http://www.w3.org/1999/html">Manage your GPG Keyring</a>
    <br />
    <a href="main/managef">Upload your files</a>
    <br/> <br/>
    <table border=2>
        <form action="main" method="POST">
            {% csrf_token %}
            <tr>
                <td rowspan=2>sec</td>
                <td rowspan=2>Name</td>
                <td colspan=4><p style="text-align:center">Action</p></td>
            </tr>
            <tr>
                <td>Delete</td>
                <td>Decrypt</td>
                <td>Rename</td>
                <td>Download</td>
            </tr>
            {% for field in D %}
                <tr>
                    <td>
                        {% if field.0.sec %}
                            <img src='http://img27.imageshack.us/img27/4472/locksi.png'/>
                        {% endif %}
                    </td>
                    <td>
                        {{ field.0.label }}
                    </td>
                    <td>
                        {{ field.0 }}
                    </td>
                    <td>

                    </td>
                    <td>
                        {{ field.1 }}
                    </td>
                    <td>
                        <a href="{{ field.2 }}">Download</a>
                    </td>
                </tr>
            {% endfor %}
    </table>
    <input type="submit" value="OK" />
    </form>
    <br />
    <br/>
    <br/>
    <a href="main/logout/">Logout</a>
{% endblock %}