{% extends 'base.html' %}
{% block content %}
    <form action="/main/manage/" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Generate keypair" />
    </form>

    <br /><br/><br/>
    <table>
        {% if form_manage %}
            <form action="/main/manage/" method="POST">
                {% csrf_token %}
                {% for field in D %}

                {% endfor %}
                <input type="submit" value="Delete key" />
            </form>
        {% endif %}
    </table>
{% endblock %}